/* Add your CSS here */

body,
button {
    font-family: 'Karla', sans-serif;
    margin: 10px;
}

button[data-action="start"] {
  background-color: lightgreen;
  border-radius: 7px;
}

button[data-action="delete"] {
  background-color: palevioletred;
  border-radius: 7px;
}

section {
  padding: 20px;
}

article {
  background-color: #f2f5f8;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 1px solid #ececec;
  border-radius: 2px;
  padding-bottom: 18px;
  
}
article h2{
    font-size: 1em;
}
